.title-wrapper .no-desc {
  margin-bottom: 0;
}

.title-wrapper h3 {
  font-size: var(--font-size-3xl);
  font-weight: 700;
  line-height: var(--line-height-150);
  letter-spacing: -0.52px;
  margin-bottom: 2rem;
}

.list-item span.sub-text-bk {
  color: var(--black-color);
}

.banner-section h2.agent-banner-title {
  padding-bottom: 0.7rem;
}

.sticky-header .tab-sticky-header li.active {
  font-size: var(--font-size-2xl);
  font-weight: 800;
  line-height: normal;
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 39.4%;
  /* 16:9 비율 (9/16 = 0.5625) */
  border-radius: 20px;
  background: var(--white-color);
  overflow: hidden;
  /* 필요시 max-width: 800px; 등 추가 가능 */
  color: #000;
  border: 1px solid var(--gray-300-color);
}

.video-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-inner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}

.video-inner span {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  color: #969696;
  text-align: center;
  font-family: Pretendard;
  font-size: var(--font-size-5xl);
  font-style: normal;
  font-weight: 600;
  line-height: var(--line-height-136);
  /* 43.52px */
  letter-spacing: -0.64px;
}

.sub-title-wrapper {
  text-align: center;
}

.sub-title-wrapper span {
  font-size: var(--font-size-lg);
  font-weight: 700;
  line-height: var(--line-height-150);
  /* 30px */
  letter-spacing: -0.4px;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  display: block;
}

.sub-title-wrapper h2 {
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 146%;
  /* 67.16px */
  letter-spacing: -0.92px;
}

.sub-title-wrapper p {
  font-size: var(--font-size-xl);
  margin: 2rem 0 0;
  font-weight: 500;
  line-height: 172%;
  /* 37.84px */
  letter-spacing: -0.44px;
}

.sub-title-wrapper.tp2 h2 {
  font-size: var(--font-size-7xl);
}

.box-list.white-box .box-item {
  background-color: var(--white-color);
}

.content-section .basicBtn-wrapper {
  margin-top: 6.25rem;
}

.double-card-wrapper {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.double-card-wrapper .double-card {
  width: 50%;
}

.double-card-wrapper .double-card .double-card-inner .double-card-img {
  border: 1px solid var(--gray-300-color);
  border-radius: 1.25rem;
  overflow: hidden;
}


.double-card-wrapper .double-card .double-card-inner .double-card-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.double-card-wrapper .double-card .double-card-inner .double-txts {
  margin-top: 2rem;
}

.double-card-wrapper .double-card .double-card-inner .double-txts h3 {
  font-size: var(--font-size-4xl);
  font-weight: 700;
  color: var(--black-color);
  line-height: var(--line-height-150);
  letter-spacing: -0.6px;
}

.double-card-wrapper .double-card .double-card-inner .double-txts p {
  font-size: var(--font-size-md);
  color: var(--gray-900-color);
  line-height: var(--line-height-172);
  letter-spacing: -0.18px;
  margin-top: 0.75rem;
  font-weight: 500;
}


/* arcodian */
.kt-accordion {
  width: 100%;
  margin: 0 auto;
}

.kt-accordion__item {
  overflow: hidden;
  transition: box-shadow 0.2s;
  border-top: 1px solid var(--gray-200-color);
}

.kt-accordion__item:nth-child(1) {
  border-top: none;
}

.kt-accordion__item:nth-last-child(1) {
  border-bottom: 1px solid var(--gray-200-color);
}



.kt-accordion__header {
  width: 100%;
  background: var(--white-color);
  border: none;
  outline: none;
  font-size: var(--font-size-3xl);
  font-weight: 700;
  line-height: 150%;
  /* 39px */
  letter-spacing: -0.52px;
  padding: 3rem 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background 0.2s;
  position: relative;
}

.kt-accordion__icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background: url('/resource/images/ai/icons/icon-arcodian-plus.png') no-repeat center/contain;
  transition: transform 0.3s;
}

.kt-accordion__item:nth-child(1) .kt-accordion__header {
  padding-top: 0;
}


.kt-accordion__item.active .kt-accordion__icon {
  background-image: url('/resource/images/ai/icons/icon-arcodian-minus.png');
  transform: rotate(180deg);
}

.kt-accordion__panel {
  max-height: 0;
  overflow: hidden;
  background: var(--gray-50-color);
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0.75rem;
}

.kt-accordion__item.active .kt-accordion__panel {
  transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.kt-accordion__item.active+.kt-accordion__item {
  border-top: 0;
}

.kt-accordion__content {
  padding: 2rem 2.5rem;
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: 500;
  line-height: 172%;
  /* 30.96px */
  letter-spacing: -0.18px;
  color: var(--gray-800-color);
  line-height: var(--line-height-170)
}



/* agent */
.agent-tech-list {
  display: flex;
  justify-content: center;
  padding: 6.25rem 0;
}

.agent-tech-list li {
  width: 10rem;
  height: 10rem;
  padding: 2.75rem;
  background-color: #f3f3f3;
}

.agent-tech-list li:nth-child(2) {
  margin: 0 1.25rem;
  position: relative;
}

.agent-tech-list li:nth-child(2):after {
  display: block;
  content: "";
  width: 10.75rem;
  height: 10.75rem;
  border: 0.375rem solid var(--primary-color);
  position: absolute;
  margin: auto;
  top: 0;
  left: -0.6875rem;
  right: 0;
  bottom: 0;
}


.agent-tech-list li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content-section.tabs-component .bg-bright-fafafa {
  background-color: #fafafa;
  width: 100%;
  padding-bottom: 10rem;
}

.content-section.tabs-component .bg-bright-fff {
  background-color: #fff;
  width: 100%;
  margin-top: -10rem;
}

.agent-pattern.tabs-component .tabs-wrapper .tabs button {
  font-size: var(--font-size-2xl);
  font-weight: 800;
  letter-spacing: 0;
  position: relative;
}

.agent-pattern.tabs-component .tabs-wrapper .tabs button::after {
  display: none;
}

.agent-pattern.tabs-component .tabs-wrapper .tabs button.tabs__tab--active::after {
  display: block;
  content: "";
  width: 100%;
  height: 1.5px;
  background-color: var(--black-color);
  position: absolute;
  top: 2.1rem;
  left: unset;
}

.tabs__panel__anchor {
  padding-top: 10rem;
}

.tab-inner-wrapper {
  width: 100%;
}


.tab-section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding-bottom: 10rem;
  width: 100%;
}

.tab-section.mo-pb-40 {
  padding-bottom: 4rem;
}

.tab-section.mo-pb-60 {
  padding-bottom: 6rem;
}

.tabs__panel__anchor.mo-pt-0 {
  padding-top: 0;
}

.tab-section.only-title {
  gap: 0;
}

.tab-section.only-title .btn-wrap {
  margin-top: 3rem;
}

.tab-section:nth-last-child(1) {
  padding-bottom: 0;
}

.agent-pattern.tabs-component .table-card-list {
  gap: 2rem;
  align-items: baseline;
}

.agent-pattern.tabs-component .table-card-list li:after {
  display: none;
}

.agent-pattern.tabs-component .table-card-item p {
  text-align: left;
  padding: 2.35rem 2rem;
  min-height: 15.8rem;
  background-color: var(--white-color);
}


/* Agent Pattern Framework 도식 */
.agent-pattern-diagram {
  width: 100%;
  background: var(--white-color);
  border-radius: 1.25rem;
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 5rem 6.4375rem 3.8125rem;
  font-size: var(--font-size-xl);
  font-weight: 500;
  line-height: var(--line-height-172);
  /* 37.84px */
  letter-spacing: -0.44px;
}

.agent-pattern-diagram .diagram-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.agent-pattern-diagram .diagram-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.agent-pattern-diagram .pattern-types {
  gap: 2rem;
  margin-left: 3.6875rem;
}

.agent-pattern-diagram .agent-types {
  gap: 1.5rem;
  background: none;
  box-shadow: none;
  min-width: 12.75rem;
}

.agent-pattern-diagram .agent-type {
  padding: 2.9375rem 2.5rem;
  min-width: 12.75rem;
  background: #f7f7f7;
  border-radius: 1.25rem;
  border: 1px solid var(--gray-300-color, #D9D9D9);
  position: relative;
  z-index: 0;
}

.agent-pattern-diagram .agent-type:last-child {
  margin-bottom: 0;
}

.agent-pattern-diagram .agent-patterns {
  min-width: 12.75rem;
  padding: 10rem 3.81rem;
  justify-content: center;
  min-width: 12.75rem;
  background: var(--white-color);
  border-radius: 1.25rem;
  border: 1px solid var(--gray-300-color, #D9D9D9);
  margin-left: 2.75rem;
  position: relative;
}

.agent-pattern-diagram .agent-patterns:after {
  display: block;
  content: "";
  width: 52.0625rem;
  height: 20rem;
  height: 100%;
  background: url('/resource/images/ai/solution/agent/Agent Pattern Framework-line01.png') no-repeat center/contain;
  position: absolute;
  top: 0;
  left: -5.2rem;
  z-index: -1;
}

.agent-pattern-diagram .agent-patterns-icon {
  width: 3rem;
  height: 3rem;
  background: url('/resource/images/ai/solution/agent/Patterns-icon.png') no-repeat center/contain;
  margin-bottom: 2rem;
}

.agent-pattern-diagram .diagram-title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.3;
}

.agent-pattern-diagram .pattern-type {
  min-width: 12.75rem;
  min-height: 13.3rem;
  background: #f7f7f7;
  border-radius: 1.25rem;
  border: 1px solid var(--gray-300-color, #D9D9D9);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.agent-pattern-diagram .pattern-type:last-child {
  margin-bottom: 0;
}

.agent-pattern-diagram .pattern-logic {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: none;
  box-shadow: none;
  min-width: 12.75rem;
  margin-left: 2rem;
}


.agent-pattern-diagram .logic-primitive {
  background-image: url('/resource/images/ai/solution/agent/diagram-primitive.png');
  background-size: 106%;
  background-repeat: no-repeat;
  background-position: center;
  width: 12.7rem;
  height: 13.3rem;
  border: 1px solid var(--gray-300-color, #D9D9D9);
  border-radius: 1.25rem;
  overflow: hidden;
}

.agent-pattern-diagram .logic-primitive:after {
  display: block;
  content: "";
  width: 4.875rem;
  height: 4.5rem;
  background: url('/resource/images/ai/solution/agent/Agent Pattern Framework-line02.png') no-repeat center/contain;
  position: absolute;
  top: 12rem;
  left: 4rem;
}

.agent-pattern-diagram .agent-capability {
  min-width: 12.75rem;
  min-height: 28.7rem;
  justify-content: center;
  border: 1px solid var(--gray-300-color, #D9D9D9);
  border-radius: 1.25rem;
  overflow: hidden;
  margin-left: 2.8125rem;
}

.agent-pattern-diagram .agent-capability-icon {
  width: 3rem;
  height: 3rem;
  background: url('/resource/images/ai/solution/agent/Agent Capability-icon.png') no-repeat center/contain;
  margin-bottom: 2rem;
}

/* 점선 화살표 */
.agent-pattern-diagram .diagram-arrow {
  width: 40px;
  height: 2px;
  background: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.agent-pattern-diagram .arrow-right:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  border-top: 2px dashed #bbb;
  position: absolute;
  left: 0;
  top: 50%;
}

.tab-section .list-wrapper {
  padding: 0 0 3rem;
}

.tab-section .list-wrapper>ul {
  gap: 0;
}

.tab-section .list-wrapper>ul>li {
  border-top: 1px solid var(--gray-200-color, #E8E8E8);
}

.tab-section .list-wrapper>ul>li:nth-child(1) {
  border-top: 0;
}

.tab-section .list-wrapper>ul>li:nth-last-child(1) {
  border-bottom: 1px solid var(--gray-200-color, #E8E8E8);
  padding-bottom: 3rem;
}

/* Multi-Model Orchestrator 도식 */
.orchestrator-diagram {
  width: 100%;
}

.orchestrator-diagram .diagram-row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 3.5rem;
}

.orchestrator-diagram .diagram-block {
  background: #fafafa;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}

.orchestrator-diagram .user-block,
.orchestrator-diagram .agent-block {
  min-width: 11.25rem;
  min-height: 30.625rem;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: none;
  font-size: 2rem;
  font-weight: 700;
  justify-content: center;
  position: relative;
}

.orchestrator-diagram .user-block:after,
.orchestrator-diagram .agent-block:after {
  display: block;
  content: "";
  width: 2.4375rem;
  height: 0.5rem;
  background: url('/resource/images/ai/solution/agent/Orchestrator-line01.png') no-repeat center/contain;
  position: absolute;
  top: 15rem;
  left: 11.8rem;
}


.orchestrator-diagram .diagram-title {
  font-size: var(--font-size-3xl);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-150);
  /* 39px */
  letter-spacing: -0.52px;
}

.orchestrator-diagram .orchestrator-block {
  background: #fff;
  border: 1px solid #eee;
  box-shadow: none;
  padding: 3.8125rem 3.375rem 2.375rem 3.375rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.orchestrator-diagram .orchestrator-title {
  font-size: var(--font-size-4xl);
  font-weight: 700;
  line-height: var(--line-height-150);
  letter-spacing: -0.6px;
  position: absolute;
  top: -1.5rem;
  left: 25.5rem;
  background-color: var(--white-color);
  display: block;
  padding: 0 1.5rem;
}

.orchestrator-diagram .orchestrator-inner {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  width: 100%;
  position: relative;
  min-height: 260px;
}

.orchestrator-diagram .orchestrator-inner .flex {
  gap: 6.625rem;
  width: 100%;
  gap: 6.625rem;
}

.orchestrator-diagram .orchestrator-inner .flex .table-card-wrapper:nth-child(1) .table-card-list {
  flex-direction: column;
}

.orchestrator-diagram .orchestrator-inner .flex .table-card-wrapper:nth-child(1) .table-card-list .table-card-item {
  min-width: 24.375rem;
}

.orchestrator-diagram .orchestrator-inner .flex .table-card-wrapper:nth-child(1) .table-card-list .table-card-item p {
  min-height: auto;
}

.orchestrator-diagram .orchestrator-inner .flex .table-card-wrapper:nth-child(1) .table-card-list .table-card-item span {
  display: block;
  text-align: center;
  font-family: Pretendard;
  font-size: var(--font-size-md);
  font-weight: 500;
  line-height: var(--line-height-172);
  letter-spacing: -0.18px;
}

.orchestrator-diagram .orchestrator-inner .flex .table-card-wrapper:nth-child(2) {
  position: relative;
}

.orchestrator-diagram .orchestrator-inner .flex .table-card-wrapper:nth-child(2)::after {
  display: block;
  content: "";
  width: 16.3rem;
  height: 17.925rem;
  background: url('/resource/images/ai/solution/agent/Orchestrator-line02.png') no-repeat center/contain;
  position: absolute;
  top: 10.1rem;
  left: -6.4rem;
}

.orchestrator-diagram .orchestrator-inner .flex .table-card-wrapper:nth-child(2) .table-card-list .table-card-item .llms-list {
  min-height: 24.35rem;
  padding: 2.25rem 0;
}

.orchestrator-diagram .orchestrator-inner .flex .table-card-wrapper:nth-child(2) .table-card-list .table-card-item .llms-list li {
  border-radius: 0.5rem;
  border: 1px solid #F5C7C7;
  background: #F9E7E7;
  text-align: center;
  padding: 0.625rem 0;
  min-width: 11.625rem;
  font-weight: 500;
  line-height: var(--line-height-172);
  /* 30.96px */
  letter-spacing: -0.18px;
  font-size: var(--font-size-md);
}

.orchestrator-diagram .orchestrator-inner .flex .table-card-wrapper:nth-child(2) .table-card-list .table-card-item .llms-list li:nth-child(n+2) {
  margin-top: 1rem;
}

.orchestrator-diagram .orchestrator-inner .flex .table-card-wrapper:nth-child(2) .table-card-list .table-card-item .llms-list li:nth-last-child(1) {
  margin-top: 5.75rem;
}


/* model */
.content-section.tabs-component.model-section {
  background: linear-gradient(180deg, #FAFAFA 1.55%, #FFF 6.13%);
  padding-bottom: 0rem;
}

.tripple-box-wrapper {
  width: 100%;
}

.tripple-box-wrapper .tripple-box-list {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.tripple-box-wrapper .tripple-box-list li {
  width: 33.333333333333336%;
}

.tripple-box-wrapper .tripple-box-list li .img img {
  width: 100%;
  height: 100%;
  display: block;
}

/* .tripple-box-wrapper .tripple-box-list li .img {
  border: 1px solid var(--gray-300-color);
  border-radius: 1.25rem;
  height: 27.5rem;
}

.tripple-box-wrapper .tripple-box-list li .img:nth-child(1) {
  padding: 6.25rem;
}

.tripple-box-wrapper .tripple-box-list li .img:nth-child(2) {
  padding: 5.03rem;
}

.tripple-box-wrapper .tripple-box-list li .img:nth-child(3) {
  padding: 6.06rem;
}

.tripple-box-wrapper .tripple-box-list li .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
} */

.tripple-box-wrapper .tripple-box-list li h3 {
  font-size: var(--font-size-4xl);
  font-weight: 700;
  line-height: var(--line-height-150);
  /* 45px */
  letter-spacing: -0.6px;
  margin: 1.5rem 0 0.75rem;
}

.tripple-box-wrapper .tripple-box-list li p {
  font-size: var(--font-size-md);
  font-weight: 500;
  line-height: var(--line-height-172);
  /* 30.96px */
  letter-spacing: -0.18px;
  color: var(--gray-900-color);
}

.box-item h4 {
  font-size: var(--font-size-2xl);
  font-style: normal;
  font-weight: 600;
  line-height: var(--line-height-172);
  /* 37.84px */
  letter-spacing: -0.44px;
  margin-bottom: 0.75rem;
}

.box-item .card-tags {
  margin-top: 1.75rem;
  font-size: var(--font-size-sm);
}

.box-item .card-tags>span:nth-child(n + 2) {
  margin-left: 0.5rem;
}

.line-up-box h3 {
  margin-bottom: 1.25rem;
}

.graph-side-wrapper {
  width: 100%;
}

.graph-side-item {
  display: flex;
  width: 100%;
  border: 1px solid var(--gray-300-color);
  border-radius: 1.25rem;
  height: 45.75rem;
  overflow: hidden;
}

.graph-side-item .graph-side-txts {
  background-color: var(--gray-50-color);
  height: 4.575rem;
  min-width: 29.5rem;
  max-width: 29.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 4rem;
}

.graph-side-item .graph-side-txts-content h3 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 146%;
  /* 52.56px */
  letter-spacing: -0.72px;
}

.graph-side-item .graph-side-txts-content ul {
  margin-top: 2rem;
}

.graph-side-item .graph-side-txts-content ul li {
  margin-top: 0.25rem;
  font-size: var(--font-size-md);
  font-weight: 500;
  line-height: var(--line-height-172);
  /* 30.96px */
  letter-spacing: -0.18px;
}

.graph-side-item:nth-child(n+2) {
  margin-top: 2.5rem;
}

.graph-side-item .graph-side-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.example-side-wrapper {
  width: 100%;
}

.example-side-item {
  display: flex;
}

.example-side-item .example-side-left {
  border: 1px solid var(--gray-300-color);
  border-radius: 1.25rem;
  background-color: var(--gray-50-color);
  padding: 4.8125rem 8.25rem 0;
  width: 51.5625rem;
  display: flex;
  align-items: flex-end;
}

.example-side-item .example-side-left .example-white-box {
  background-color: var(--white-color);
  padding: 2.4rem 2.5rem 1.7rem;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
}

.example-side-item .example-side-left .example-white-box span {
  font-size: var(--font-size-3xl);
  font-weight: 700;
  line-height: var(--line-height-140);
  /* 36.4px */
  letter-spacing: -0.39px;
  position: relative;
  width: fit-content;
  display: block;
}

.example-side-item .example-side-left .example-white-box span:after {
  display: block;
  content: "";
  background-image: url('/resource/images/ai/icons/box-drop-icon.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0.375rem;
  right: -2rem;
}

.example-side-item .example-side-left .example-white-box h4 {
  font-size: var(--font-size-2xl);
  font-weight: 700;
  line-height: var(--line-height-172);
  /* 41.28px */
  letter-spacing: -0.24px;
  margin: 1.875rem 0 1.25rem;
}

.example-side-item .example-side-left .example-white-box p {
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-172);
  /* 30.96px */
  letter-spacing: -0.18px;
}

.example-side-item .example-side-txts {
  padding: 1.3125rem 0;
  margin-left: 7.4375rem;
}

.example-side-item .example-side-txts dl:nth-child(n+2) {
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 1px solid var(--gray-200-color);
}

.example-side-item .example-side-txts dl:nth-last-child(1) {
  border-bottom: 1px solid var(--gray-200-color);
  padding-bottom: 3rem;
}

.example-side-item .example-side-txts dt {
  font-size: var(--font-size-3xl);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-150);
  /* 39px */
  letter-spacing: -0.52px;
}

.example-side-item .example-side-txts dd {
  font-size: var(--font-size-md);
  font-weight: 500;
  line-height: var(--line-height-172);
  /* 30.96px */
  letter-spacing: -0.18px;
  margin-top: 0.75rem;
}

.example-side-item.example-side-item-tripple {
  display: block;
}

.example-side-item.example-side-item-tripple .flex {
  gap: 2rem;
}

.example-side-item.example-side-item-tripple .example-side-left {
  padding: 4.75rem 3.625rem 0;
}

.example-side-item.example-side-item-tripple .example-side-txts {
  margin-left: 0;
  display: flex;
  justify-content: center;
  margin-top: 5.123rem;
}

.example-side-item.example-side-item-tripple .example-side-txts dl:nth-child(n+2) {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}

.example-side-item.example-side-item-tripple .example-side-txts dl:nth-last-child(1) {
  border-bottom: 0;
  padding-bottom: 0;
}

.example-side-item.example-side-item-tripple .example-side-txts dl:nth-child(2) {
  border-left: 1px solid var(--gray-200-color);
  border-right: 1px solid var(--gray-200-color);
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

.simple-box-wrapper {
  width: 100%;
  margin-top: 5rem;
}

.simple-box-wrapper ul {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
}

.simple-box-wrapper ul li {
  width: 33.333333333333336%;
  border: 1px solid var(--gray-300-color);
  border-radius: 1.25rem;
  height: 11.625rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.90);
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.simple-box-wrapper ul li h3 {
  font-size: var(--font-size-4xl);
  font-weight: 700;
  line-height: var(--line-height-150);
  /* 45px */
  letter-spacing: -0.6px;
}

.simple-box-wrapper ul li p {
  font-size: var(--font-size-xl);
  font-weight: 500;
  line-height: var(--line-height-172);
  letter-spacing: -0.44px;
  margin-top: 0.375rem;
}

.simple-box-wrapper ul li span {
  font-size: var(--font-size-4xl);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-150);
  /* 45px */
  letter-spacing: -0.6px;
  color: var(--gray-500-color);
}

.mid-banner-wrapper {
  position: relative;
}

.mid-banner-wrapper .mid-banner-inner {
  position: relative;
  width: 1920px;
  max-width: 1920px;
  padding: 10rem 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  margin: 0 auto;
}

.mid-banner-wrapper .mid-banner-inner .mid-banner-inner-content {
  max-width: 86.5rem;
  margin: 0 auto;
}

.mid-banner-wrapper .mid-banner-inner .sub-title-wrapper span,
.mid-banner-wrapper .mid-banner-inner .sub-title-wrapper h2 {
  color: var(--white-color);
}

.mid-banner-bg-black {
  width: 100vw;
  /* 높이값 sub.js에서 자동으로 설정 */
  background-color: #000;
  position: absolute;
  left: min(calc(100vw - 1920px) / -2);
  top: 0;
}

.tab-section.has-padding-bottom {
  padding-bottom: 10rem;
}




/* studioPage */
.diamond-wrapper {
  width: 100%;
}

.diamond-wrapper .box-list {
  /* 마름모꼴로 위치 요청 */
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 54.0625rem;
  display: block;
}

.diamond-wrapper .box-list:before {
  content: '';
  display: block;
  width: 47.625rem;
  height: 47.625rem;
  position: absolute;
  top: 0rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url('/resource/images/ai/solution/studio/Customer-Value-arrow.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.diamond-wrapper .box-list li {
  position: absolute;
  width: 34.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.diamond-wrapper .box-list li:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.diamond-wrapper .box-list li:nth-child(2) {
  top: 20.4375rem;
  right: 0;
}

.diamond-wrapper .box-list li:nth-child(3) {
  top: 40.875rem;
  left: 50%;
  transform: translateX(-50%);
}

.diamond-wrapper .box-list li:nth-child(4) {
  top: 20.4375rem;
  left: 0;
}

.diamond-wrapper .box-item {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  border-radius: 1.25rem;
}

.diamond-wrapper .box-item h3 {
  font-size: var(--font-size-4xl);
  font-weight: 700;
  line-height: var(--line-height-150);
  letter-spacing: -0.22px;
  margin-bottom: 1.25rem;
}

.diamond-wrapper .box-item p {
  letter-spacing: -0.18px;
}

.table-card-wrapper .table-card-list.text>li {
  flex: 1 0 calc(100% / 2 - 2rem);
}

.table-card-wrapper .table-card-list.text>li .table-card-item ul {
  min-height: 19.25rem;
  padding: 2rem;
  gap: 2rem;
}

.table-card-wrapper .table-card-list.text>li .table-card-item h3 {
  padding: 1rem 2rem;
}

.table-card-wrapper .table-card-list.text>li .table-card-item h3 span {
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: var(--line-height-172);
  letter-spacing: -0.16px;
  color: var(--gray-900-color);
}

.table-advantage-wrapper {
  width: 100%;
}

.table-advantage-wrapper .table-advantage-item-inner {
  display: flex;
  justify-content: space-between;
}

.table-advantage-wrapper .table-advantage-item-inner+.table-advantage-item-inner {
  margin-top: 0.625rem;
}

.table-advantage-wrapper .table-advantage-item-inner .table-advantage-item-title {
  border-radius: 1.25rem;
  border: 1px solid #F5C7C7;
  background: #F9E7E7;
  display: flex;
  align-items: center;
  width: 12.8125rem;
}

.table-advantage-wrapper .table-advantage-item-inner .table-advantage-item-title h3 {
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
  line-height: var(--line-height-160);
  color: var(--primary-color);
  display: block;
  margin: 0 auto;
}

.table-advantage-wrapper .table-advantage-item-inner .table-advantage-item-content {
  width: calc(100% - 12.8125rem);
  margin-left: 5rem;
  border-top: 1px solid #ebebeb;
  padding: 2.53125rem 0 2.6875rem;
}

.table-advantage-wrapper .table-advantage-item-inner:nth-last-child(1) .table-advantage-item-content {
  border-bottom: 1px solid #ebebeb;
}

.table-advantage-wrapper .table-advantage-item-inner .table-advantage-item-content dt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-advantage-wrapper .table-advantage-item-inner .table-advantage-item-content dt h4 {
  font-size: var(--font-size-3xl);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-150);
  letter-spacing: -0.52px;
  display: block;
}

.table-advantage-wrapper .table-advantage-item-inner .table-advantage-item-content dt p {
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
  line-height: var(--line-height-172);
  letter-spacing: -0.44px;
  display: block;
  margin-left: 0.875rem;
}

.table-advantage-wrapper .table-advantage-item-inner .table-advantage-item-content dd {
  margin-top: 2rem;
}

.table-advantage-wrapper .table-advantage-item-inner .table-advantage-item-content ul {
  display: flex;
  gap: 0.625rem;
  flex-wrap: wrap;
}

.table-advantage-wrapper .table-advantage-item-inner .table-advantage-item-content dd>ul li {
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: var(--line-height-172);
  letter-spacing: -0.18px;
  text-align: center;
  border-radius: 0.5rem;
  background: #f3f3f3;
  padding: 0.4375rem 0;
  width: calc(33.333333333333336% - 0.625rem);
}

.table-advantage-wrapper .table-advantage-item-inner:nth-child(1) .table-advantage-item-content dd>ul li:nth-child(-n+6) {
  width: calc(16.666666666666668% - 0.625rem);
}

.table-advantage-wrapper .table-advantage-item-inner:nth-child(3) .table-advantage-item-content dd>ul li:nth-child(-n+4) {
  width: calc(25% - 0.625rem);
}

.table-advantage-wrapper .table-advantage-item-inner .table-advantage-item-content .tripple-layout {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

.table-advantage-wrapper .table-advantage-item-inner .table-advantage-item-content .tripple-layout .tripple-layout-item {
  width: calc(33.333333333333336% - 1.25rem);
  border-radius: 1.25rem;
  background: #f3f3f3;
  padding: 2rem;
}

.table-advantage-wrapper .table-advantage-item-inner .table-advantage-item-content .tripple-layout .tripple-layout-item h4 {
  font-size: var(--font-size-3xl);
  font-weight: 700;
  line-height: var(--line-height-150);
  letter-spacing: -0.52px;
}

.table-advantage-wrapper .table-advantage-item-inner .table-advantage-item-content .tripple-layout .tripple-layout-item h5 {
  font-size: var(--font-size-md);
  font-weight: 600;
  line-height: var(--line-height-172);
  letter-spacing: -0.18px;
  margin-top: 1.25rem;
}

.table-advantage-wrapper .table-advantage-item-inner .table-advantage-item-content .tripple-layout .tripple-layout-item ul {
  margin-top: 0.75rem;
}

.table-advantage-wrapper .table-advantage-item-inner .table-advantage-item-content .tripple-layout .tripple-layout-item li {
  font-size: var(--font-size-md);
  font-weight: 400;
  line-height: var(--line-height-172);
  letter-spacing: -0.18px;
  white-space: nowrap;
}

.table-advantage-wrapper .table-advantage-item-inner .table-advantage-item-content .tripple-layout .tripple-layout-item li+li {
  margin-top: 0.375rem;
}


/* kt agent pattern top 10 */
.agent-pattern.tabs-component .table-card-list.pattern-top10-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 1.25rem;
}

.pattern-top10-grid .pattern-card {
  grid-row: auto;
  grid-column: auto;
  height: 20.375rem;
}

.pattern-top10-grid .pattern-card h3 {
  text-align: left;
  padding: 0.9375rem 2.3125rem;
  font-size: var(--font-size-3xl);
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.52px;
}

.pattern-top10-grid .pattern-card h3 span {
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: 500;
  line-height: 172%;
  letter-spacing: -0.16px;
  display: block;
}

.pattern-top10-grid .pattern-card p {
  padding: 2rem;
}


.pattern-top10-grid .pattern-card p span {
  display: block;
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: 700;
  line-height: 172%;
  margin-bottom: 0.75rem;
}

.pattern-top10-grid .pattern-card:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.pattern-top10-grid .pattern-card:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}

.pattern-top10-grid .pattern-card:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
}

.pattern-top10-grid .pattern-card:nth-child(4) {
  grid-row: 1;
  grid-column: 4;
}

.pattern-top10-grid .pattern-card:nth-child(5) {
  grid-row: 2;
  grid-column: 1 / span 2;
}

.pattern-top10-grid .pattern-card:nth-child(6) {
  grid-row: 2;
  grid-column: 3;
}

.pattern-top10-grid .pattern-card:nth-child(7) {
  grid-row: 2;
  grid-column: 4;
}

.pattern-top10-grid .pattern-card:nth-child(8) {
  grid-row: 3;
  grid-column: 1 / span 2;
}

.pattern-top10-grid .pattern-card:nth-child(9) {
  grid-row: 3;
  grid-column: 3;
}

.pattern-top10-grid .pattern-card:nth-child(10) {
  grid-row: 3;
  grid-column: 4;
}



/* Mobile Styles */
@media (max-width: 767px) {

  /* 다른 페이지들도 확인해야함 */
  .content-inner {
    gap: 4rem;
  }

  .sub-title-wrapper p {
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: 172%;
    /* 29.24px */
  }

  /* agent page */

  .content-section.tabs-component .bg-bright-fafafa {
    background: linear-gradient(180deg, #FAFAFA 1.55%, #FFF 6.13%);
  }

  .double-card-wrapper {
    display: block;
  }

  .double-card-wrapper .double-card {
    width: 100%;
  }

  .double-card-wrapper .double-card+.double-card {
    margin-top: 4rem;
  }

  .double-card-wrapper .double-card .double-card-inner .double-txts {
    margin-top: 1.6rem;
  }

  .double-card-wrapper .double-card .double-card-inner .double-txts h3 {
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 36.4px */
    letter-spacing: -0.26px;
  }

  .double-card-wrapper .double-card .double-card-inner .double-txts p {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 172%;
    word-break: keep-all;
    /* 27.52px */
  }

  .card-wrapper.horizontal-wrapper {
    overflow: hidden;
  }

  .card-list-horizontal {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    gap: 1.6rem;
    padding-bottom: 0.5rem;
    scrollbar-width: none;
    /* Firefox */
    padding-left: 0;
    justify-content: left;
  }

  .card-list-horizontal::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
  }

  .card-list-horizontal>.card {
    min-width: 22rem;
    flex: 0 0 auto;
  }

  .card-list-horizontal>.card:first-child {
    margin-left: 0 !important;
  }

  .card-list-horizontal {
    padding-left: 0;
    padding-right: 1rem;
  }

  .card-list-horizontal>.card {
    min-width: 29rem;
    max-width: 29rem;
  }

  .card-list-horizontal .card-img {
    width: 29rem;
    padding-bottom: 131.4%;
  }

  .card-list-horizontal .card .sub-desc {
    display: none;
  }

  .card-list-horizontal .card-tags {
    margin-top: 1.6rem;
  }

  .card-list-horizontal .card-tags span {
    font-size: 1.3rem;
  }

  .card-list-horizontal .card-tags span:nth-child(1) {
    border: 0;
    background-color: #ebebeb;
  }

  .content-section .basicBtn-wrapper {
    margin-top: 4.8rem;
  }

  .basic-bk-btn {
    padding: 0 4rem;
    height: 5.6rem;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 172%;
    /* 29.24px */
    border-radius: 0.8rem;
  }

  .agent-tech-list li {
    width: 9.0462rem;
    height: 9.0462rem;
  }

  .agent-tech-list li:nth-child(2):after {
    width: 9.7246rem;
    height: 9.7246rem;
    top: 0.15rem;
    border: 3.392px solid var(--primary-color);
  }

  .tab-section {
    gap: 4rem;
  }

  .video-wrapper,
  .video-inner video {
    border-radius: 1.2rem;
  }

  .video-wrapper {
    padding-bottom: 65.7%;
  }

  .video-inner span {
    font-size: 3.2rem;
  }


  .tab-section .list-wrapper {
    padding: 0rem 0;
  }


  .agent-pattern-diagram,
  .orchestrator-diagram,
  .cloud-architecture-diagram {
    overflow-x: hidden;
  }

  .tab-section .list-wrapper>ul {
    gap: 4rem;
  }

  .tab-section .list-wrapper>ul>li h3 {
    font-size: 2.2rem;
  }

  .tab-section .list-wrapper>ul>li .list-item span {
    font-size: 1.6rem;
    display: block;
  }

  .tab-section .list-wrapper>ul>li .list-item .sub-text-bk {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 172%;
  }

  .tab-section .list-wrapper>ul>li:nth-child(1) .list-item {
    padding-top: 4rem;
    border-top: 1px solid var(--gray-200-color, #E8E8E8);
  }

  .tab-section .list-wrapper>ul>li:nth-last-child(1) .list-item {
    padding-bottom: 4rem;
  }

  .tab-section .list-wrapper>ul>li .list-item .list-description li {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 172%;
    /* 24.08px */
    word-break: keep-all;
  }

  .tab-section .table-card-item {
    padding: 2rem 2.4rem;
  }

  .tab-section .table-card-item h3 {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 156%;
    /* 34.32px */
    letter-spacing: -0.22px;
    background-color: transparent;
    border-bottom: 0;
    text-align: left;
    padding: 0;
  }

  .agent-pattern.tabs-component .table-card-item p {
    padding: 0;
    margin-top: 1.2rem;
    min-height: auto;
  }

  .agent-pattern.tabs-component .table-card-list>li:last-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
  }

  .agent-pattern.tabs-component .table-card-list.pattern-top10-grid {
    display: block;
  }

  .pattern-top10-grid .pattern-card {
    height: auto;
  }

  .pattern-top10-grid .pattern-card:nth-child(n+2) {
    margin-top: 1.6rem;
  }

  .tab-section .table-card-item h3 span {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 172%;
    /* 24.08px */
    color: var(--gray-700-color);
  }

  .pattern-top10-grid .pattern-card p span {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 172%;
    /* 24.08px */
    margin-bottom: 0.6rem;
  }

  .sub-title-wrapper.no-content h2 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 156%;
    /* 31.2px */
    letter-spacing: -0.2px;
  }

  .sub-title-wrapper.no-content p {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 172%;
    /* 27.52px */
    margin-top: 0.8rem;
  }


  /* cloudPage */
  .cloud-arch-bottom-content-list {
    height: auto;
  }

}